.whychooseus__title{
    font-size: 0.75rem;
    color: var(--light-button-color);
    text-align: center;
    text-transform: uppercase;
}
.quality_icon{
    width: 26px;
    height: 26px;
    margin: auto;
    background-color: var(--brightest-background-color);
}