.whychooseus__title{
    font-size: 0.75rem;
    color: var(--light-button-color);
    text-align: center;
    text-transform: uppercase;
}
.whychooseus__subtitle{
    font-size: xx-large;
    text-align: center;
    color: var(--the-darkest-background-color);
}
.quality__Experienced{
    font-size: large;
    text-align: center;
    color: var(--the-darkest-background-color);
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.quality__Fresh{
    font-size: large;
    text-align: center;
    color: var(--the-darkest-background-color);
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.Proven__quality{
    font-size: large;
    text-align: center;
    color: var(--the-darkest-background-color);
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.whychooseus__of-water{
    font-size: large;
    text-align: center;
    color: var(--the-darkest-background-color);
}

.delivery__team{
    text-align: center;
}


.quality_icon{
    width: 26px;
    height: 26px;
    margin: auto;
    padding: 0%;
    background-color: var(--brightest-background-color);
}

.whychooseus{
    background-color: var(--brightest-background-color);
}

.quality{
    background-color: var(--text-color);    
}

@media (min-width: 600px){
.quality{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}    
}