.about__trial-partial{
    background-image: url(../img/water_paralax_bottom.png);
    height : auto;
    padding-top: 160px;
    padding-bottom : 160px;
    scroll-behavior: smooth;
    box-sizing: border-box;


}
.about__trial{
    padding: 1px 15px;
    margin-left: 90px;
}
.about__text-trial{
    font-size: var(--about-teg-size);
    color: var(--accent-color);
    font-weight: 600;
}
.about__rent-a-water{
    font-size: var(--about-title-size);
    font-family : var(--about-some-text);
    color: var(--text-color);
    font-weight: 800;
}
.about__text-delivery{
    color: var(--about-light-color);
    font-size: var(--text-size);
    word-wrap: break-word;

}
.about__button{

    margin-top: 40px;
    border-radius: 10px;
    fill: blue;
    max-width: 150px;
    border: 1px solid var(--main-bg-color);
    padding: 10px 10px;
    border-radius: 25px;
    border: 2px solid var(--light-text-color);
    background-color: var(--light-text-color);
    }
.about__button:hover,
.about__start:hover
{
    background-color: var{--button-font-color}
}
.about__button:active,
..about__start:active{
    color: var{--button-font-color}
}
.about__button:visited,
..about__start:visited{
    color: var{--button-font-color}
}
.about__start{
    font-size: var(--button-text-size);
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    margin: center;
}
