@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,800;1,6..12,300;1,6..12,800&family=Nunito:ital,wght@0,300;0,800;0,900;0,1000;1,300;1,800&family=Work+Sans:ital,wght@0,300;0,700;0,800;0,900;1,300;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {
    /* 
        WARNING!!!
    IF THE COLOR YOU NEED IS NOT YET - Add the color you need below!
    GPT Edition (Example): 
    --main-bg-color: #3498db;
    --text-color: #ffffff;
    */
    --light-header-color: #002c8f;
    --dark-background-color: #0035ac;
    --light-background-color: #21b6ff;
    --even-more-dark-background-color: #002d92;
    --the-darkest-background-color:#002579; 
    --avarage-background-color: #306fff;
    --light-blueish-color: #20b6ff;
    --slate-gray: #5c607c;
    --light-text-color: #21b6ff;
    --the-darkest-text-color: #002579;
    --bald-text-color: #5c607c;
    --accent-color: #78ee4a;
    
}

img {
    width: 100%;
}