@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Work+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* 
        WARNING!!!
    IF THE COLOR YOU NEED IS NOT YET - Add the color you need below!
    GPT Edition (Example): 
    --main-bg-color: #3498db;
    --text-color: #ffffff;
    */
    --light-header-color: #002c8f;
    --dark-background-color: #0035ac;
    --light-background-color: #21b6ff;
    --even-more-dark-background-color: #002d92;
    --the-darkest-background-color:#002579; 
    --avarage-background-color: #306fff;
    --light-blueish-color: #20b6ff;
    --slate-gray: #5c607c;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
img {
    width: 100%;
}