@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Work+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}