.carousel-partners {
    background-color: var(--carousel-background-color);
}

.products-carousel__container { 
    box-sizing: border-box;
    display: grid;
    background-color: var(--carousel-background-color);
    grid-template-columns: 40px 1fr 40px;
    min-height: 227px;
    min-width: 375;
    max-width: 1500px;
    padding-top: 30px;
    padding-bottom: 90px;
    gap: 15px;
    margin: auto;
}

.carousel__title {
    color: var(--carousel-title-color);
    background-color: var(--carousel-background-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 27.06px;
    /*margin: auto;*/
    padding-left: 17px;
    padding-top: 20px;
    min-width: 327px;
}

.products-carousel img {
    max-width: 400px;
}

.products-carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 163px;
    min-height: auto;
    transition: opacity 0.05s ease-in-out;
}

.products-carousel .products-carousel__container button {
    background-color: var(--carousel-background-color);
    border: 0px;
}