.testimonials {
    box-sizing: border-box;
    width: 375px;
    height: 1422.050px;
    text-align: center;
    background-color: #f1f6fc;
    }
.h2{
    font-weight: bold;
}
.testimonials__title {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-align: center;
    line-height: 20.04px;
    font-family: "Work Sans", sans-serif;
    color: #5bace8;
}
.testimonials__tagline{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: normal;
    text-align: center;
    line-height: 43.32px;
    font-family: "Nunito", sans-serif;
    color: #002579;

}
.testimonials__subtitle {
    font-size: 19px;
    font-weight: 800;
    font-smooth: antialized;
    letter-spacing: normal;
    text-align: center;
    line-height: 26.60px;
    font-family:  "Work Sans", sans-serif;
    color: #5c607c;
}
.testimonials__providers {
    box-sizing: border-box;
    width: 269px;
    height: 387.617px;
    padding-left: 29;
    padding-top: 31;
    padding-right: 29;
    padding-bottom: 31;
    position: relative;
    align-items: center;
    background-color: white;

}
.profile__image {
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%; 
}
.profile__name  {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: normal;
    text-align: center;
    line-height: 27.06px;
    font-family: "Nunito", sans-serif;
    color: #002579;
}
.profile__occupation {
    font-size: 14px;
    font-weight: 800;
    font-smooth: antialized;
    letter-spacing: normal;
    text-align: center;
    vertical-align: baseline;
    line-height: 19,60px;
    font-family:  "Work Sans", sans-serif;
    color: #5c607c;

}
.quotation {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: normal;
    vertical-align: baseline;
    line-height: 23.80px;
    font-family:  "Work Sans", sans-serif;
    color: #5c607c;

}
.p em {
    font-style: italic;
    justify-content: space-between;
}
.testimonial-date {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    text-align: center;
    line-height: 19.60px;
    font-family: "Nunito", sans-serif;
    color: #002579;
    box-sizing: border-box;
}