.delivery {
    display: flex;
    justify-content: flex-end;
    background-color: var(--even-more-dark-background-color);
    background-image: url('../img/delivery-background.png');
    background-position: center;
    background-size: cover; 
    min-width: 338px;
}

.delivery-background {
    width: 50%;
}

.delivery-content {
    padding-top: 120px;
    padding-bottom: 100px;
    width: 100%;
}

.delivery-main {
    float: inline-end;
    max-width: 570px;
    padding: 0 15px;
}

.delivery__title {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 700;
}

.delivery-content__tittle {
    color: var(--text-color);
    font-size: 38px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}

.delivery-content__text-bold {
    color: #d1d7ea;
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
}

.delivery-content__text {
    color: #c2c9dc;
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
}

.delivery-accordion {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.delivery-accordion-container {
    width: 50%;
    position: relative;
    margin-right: 15px;
    height: max-content;
}

.delivery-accordion__tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
}

.delivery-accordion__home::after,
.delivery-accordion__office::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.3;
}

.toggle {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
    position: relative;
}

.toggle::before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

.delivery-accordion__tittle[data-click="open"] .toggle::before {
    transform: rotate(180deg) !important;
}

.delivery-accordion-content {
    display: none;
    padding: 10px;
    color: #c2c9dc;
    font-size: 17px;
    font-weight: 400;
}

.delivery-office-open {
    display: block;
}

.delivery-home-open {
    display: block;
}

.delivery-accordion__content-text {
    margin: 0;
}

@media (min-width: 768px) {
    .delivery-content {
        max-width: 768px;
    }    
}

@media (min-width: 992px) {
    .delivery-content {
        max-width: 992px;
    }    
}
