.carousel__title {
    border-image-repeat: stretch;
    color: rgb(29, 182, 255);
    font-size: 22px;
    font-weight: 600;
    line-height: 27.06px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: baseline;
    border-image-slice: 100% !important
}
 .carousel-control-prev .carousel-control-prev-icon {
    background-image: url(../img/chevron-left.svg)
}
 .carousel-control-next .carousel-control-next-icon {
    background-image: url(../img/chevron-right.svg);
}
 
