.equipment__cooler {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.equipment__info {
    display: block;
}

.equipment__title {
    color: var(--light-text-color);
    font-size: 12px;
    font-weight: 700;
}

.equipment__subtitle {
    color: var(--the-darkest-text-color);
    font-size: 38px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}

.equipment__description {
    color: var(--slate-gray);
    font-size: 19;
    font-weight: 600;
    margin-top: 25px;
}

.equipment__additional-info {
    color: var(--slate-gray);
    font-size: 17px;
    font-weight: 400;
    margin-top: 25px;
}

.equipment__call {
    display: flex;
    margin-top: 20px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.equipment__call-box {
    margin: 7.5px;
    width: 50px;
}

.call-box-background {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.call-box-background img {
    padding: 12px;
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
.equipment__call-button {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
}

.equipment__call-details {
    margin: 7.5px;
}

.equipment__call-title {
    color: var(--the-darkest-background-color);
    font-size: 19px;
    font-weight: 700;
}

.equipment__call-number {
    color: var(--slate-gray);
    font-size: 17px;
    font-weight: 400;
}

.equipment__carousel-conteiner {
    display: block;
}

@media (min-width: 921px) {
    .equipment__cooler {
        flex-direction: row;
    }
}

.equipment__carousel-container {
    
}