.freshwater__container {
    background: url('img/two_glasses_of_water.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.freshwater__title {
    color: var(--dark-bg-color);
    font-family: 'Nunito', sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 43.32px;
}

.wave-freshwater {
    margin: 0;
    padding: 0;
    transform: rotate(180deg);
}

.wave-freshwater img {
    width: 100%;
}
