@import url(global.css);

.water-info {
  background-color: var(--dark-background-color);

}

.water-info__title {
  color: #78ee4a;
  font-size : 12px;
}

.water-info__subtitle{
  color: white;
  font-size: 46px;
  font-family: Nunito;
  font-weight: 700;
}
.water-info__mineral-title{
  font-size: 18px;
  color: white;
}

.water-info__mineral-description{
  font-size: 17px;
  color: #c2c9dc;

}

.water-info__description{
  font-size: 19px;
  color: #d1d7ea;

}
.water-info__image-container{
  width: 272px;
  height: 257.688px;
}
@media (min-width: 768px) {
  .water-info__container {
    display: flex;
      flex-direction: column;
      align-items: ;}
}

.water-info__container{
  display: flex;
  flex-direction: column;
  min-height: 450px;
  justify-content: space-around;
  padding: 24px;
  padding-top: 90px;
  padding-bottom: 80px;
}

