.news{
    background-color:var(--news-backgraund-color);
    padding-top: 90px;
    padding-bottom: 90px;
}
.news__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div.news__header{
    min-height: 161.55px;
    width: 100%;
}
.news__header.marcer{
    color:var(--light-text-color);
    font-size:var(--head-tag-text-size);
}
.news__header.title{
    color:var(--the-darkest-text-color);
    font-size:var(--head-name-text-size);
    font-family:var(--about-some-text);
}
.news__header.about{
    color:var(--bald-text-color);
    font-size:var(--head-text-size);
    text-align: center;
}
.news__cards{
    display: grid;
    gap: 15px;
}
.news__card{
    /*height: 504px;
    width: 327px;*/
    background-color:white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news .card__foto{
    border-radius: 5px 5px 0px 0px;
}
.news .card__colector{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 90%;
}
.news .card__tag{
    font-size:var(--tag-text-size);
}
.news .card__title{
    font-size:var(--nane-text-size);
    font-family:var(--about-some-text);
    color:var(--the-darkest-text-color);
}
.news .card__text{
    font-size:var(--text-size);
}
.news .card__icon{
    color:var(--accent-color);
    width: 14.5px;
    display: inline-block;
}
.news .card__tag.date{
    display: inline-block;
}

@media (max-width: 759px){
    .news .card__foto{
        width: 100%;
    }
}
@media (min-width: 760px){
    .news{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    div.news__header{
        min-height: 161.55px;
        width: 100%;
    }
    .news .card__foto{
        height: 100%;
        width: 228px;
    }
    .news__cards{
        min-height: 390px;
        grid-template-columns: 1fr 1fr;
    }
    .news__card{
        height: 390px;
        width: 467px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .news .card__foto{
        object-position: -115px;
        object-fit: cover;
    }
}