.equipment {
    color: var(--slate-gray);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-sizing: border-box;
}

.equipment__cooler {
    display: block;
    width: 320;
    margin-top: 90px;
    margin-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
}

.equipment__info {
    display: flex;
    flex-direction: column;
}

.equipment__title {
    font-size: 12px;
    color: var(--light-background-color);
}

.equipment__subtitle {
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 38px;
    color: var(--the-darkest-background-color);

}

.equipment__description {
    margin-top: 25px;
    font-size: 19px;
}

.equipment__additional-info {
    margin-top: 25px;
    font-size: 17px;
}

.equipment__call {
    display: flex;
    margin-top: 20px;
    padding-top: 7.5;
    padding-bottom: 7.5;
}

.equipment__call-box {
    width: 50px;
    height: 70px;
    margin: 7.5px;
}

.equipment__call-details {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.equipment__call-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--the-darkest-background-color);
}

.equipment__photo-img {
    border-radius: 3%;
}

.equipment__photo-caption {
    margin-top: 20px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: var(--the-darkest-background-color);
}

.equipment__bottle-title {
    margin-top: 20px;
    font-size: 12px;
    color: var(--light-background-color);
    text-align: left;
}

.equipment__bottle-description {
    margin-top: 20px;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: var(--the-darkest-background-color);
    text-align: left;
}

.equipment__bottle-disclaimer {
    margin-top: 34px;
    font-size: 14px;
    text-align: left;
}

.equipment__bottle-box {
    padding: 39px;
    background-image: url(../img/free-bottle.png);
    background-repeat: no-repeat;
    background-size: cover, auto;
    height: 50%;
    max-width: 610px;
}

.equipment__disconut {
    display: block;
    width: 320;
    margin-top: 30px;
    margin-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
}

.equipment__disconut-box {
    display: flex;
}

.equipment__disconut-bottle {
    margin-top: 50px;
    padding: 39px;
    background-image: url(../img/discount.png);
    background-repeat: no-repeat;
    background-size: cover, auto;
    height: 50%;
    max-width: 470px;
}

.equipment__disconut-title {
    margin-top: 40px;
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: var(--light-text-color);
    text-align: left;
}

.equipment__disconut-description {
    margin-top: 34px 100px;
    font-size: 14px;
    text-align: left;
}
